.footer {
    background-color: $colorframe3;
    width: $widwContBar1;
    margin: auto;
    width: 100%;
}

.prefooter {
    display: flex;
    justify-content: space-around;
    background: $colorframe3;
}

.picarticle-footer {
    margin-bottom: 28px;
    width: 45px;
    height: 32px;
}

p.article-prefooter {
    @extend .Basicfont;
    margin-top: 16px;
    margin-bottom: 105px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer-form {
    display: flex;
    justify-content: space-around;
}

.footer-forma {
    padding: 0;
    margin-top: 105px;
    text-align: center;
}

.btn-form-footer {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $colorframe2;
    border: 1px solid $colorframe2;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: background-color .15s ease-in-out;
}


.btn-form-footer:hover {
    background-color: #ffffff;
    color: $colorframe2;
}

.form-mail-group {
    display: flex;
}

.form-mail-group .btn-form-footer {
    position: relative;
}

.form-mail-group .text-field-input {
    max-width: 355px;
    height: 50px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: relative;
    z-index: 1;
}

.text-field-input {
    padding-left: 22px;
    outline: 0 !important;
    border: 1px solid #b9b8b8;
    background: #E1E1E1;
}

.preFooter-article {
    background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url('/img/form-footer.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.picreviews-footer {
    width: 95px;
    height: 95px;
}

.subscribe {
    @extend .Basicfont;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: $colorframe3;
}

.socil {
    display: flex;
    text-align: center;
}

.social-link {
    margin: 1px;
    padding-top: 8px;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
}

.social-link:hover {
    background-color: $colorframe2;
}

.social-link:hover .picsocial-footer {
    color: #f1f1f1;
}

.copyright {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    background: $colorframe3;
}

.preFooter-article {
    width: 100%;
    background-color: #ffffff;
}

.picsocial-footer {
    color: $colorframe3;
}

.sids-cont {
    display: flex;
    justify-content: space-around;
    background-color: #F1E4E6;
}

.h2sids {
    @extend .Basicfont;
    color: $colorframe1;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.link-sides {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 210px;
}

.link-sid {
    text-decoration: none;
}

.link-sids {
    @extend .Basicfont;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.link-sids:hover {
    color: $colorframe1;
    font-weight: bolder;
}

.reviews-form-article {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 105px;
    width: 360px;
    height: 225px;
}

.article-reviews {
    @extend .Basicfont;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $colorframe3;
}

p.text-copiriht {
    @extend .Basicfont;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.promotion {
    margin-top: 5px;
}