* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-baner {
    max-width: 1600px;
    display: flex;
    margin: auto;
}

.footer {
    max-width: 1600px;
    margin: auto;
}

.container {
    max-width: 1140px;
    margin: auto;

}

.headers {

    background-color: #cccccc;
    height: 100px;

}

nav {
    background: #222222;
}

.menu {
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.left-menu {

    width: 120px;
    height: 35px;
    display: flex;
    justify-content: space-around;

}

.logo {
    margin-top: 15px;
    width: 35px;
    height: 30px;
}

.nav-menu {
    margin-top: 18px;
    margin-bottom: 12px;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.picmenu {
    width: 30px;
    height: 70%;
}

.banner {
    width: 50%;
    height: 100%;
}

.banner-pic {

    background-image: url(./img/fashin.png);
    background-size: auto;
    background-repeat: no-repeat;


}

.banner-block {
    //padding-top: 20px;
    display: flex;
    background-color: #F1E4E6;
    height: 764px;
}

.brand {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: #222222;
}

.fashion {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 58px;

    color: #222222;
}

.banner-text {
    display: flex;
    margin-top: 20%;
    height: 200px;
}

.line-banner {
    margin-left: 120px;
    margin-top: 5px;
    height: 100px;
    width: 10px;
    //position: absolute;
    left: 54%;
    right: 45.25%;
    top: 9.53%;
    bottom: 88.06%;

    background: #F16D7F;
}

.banner-article {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article-banner {
    margin-left: 10px;
}

.fashionred {
    color: #F16D7F;
}

content {
    display: block;
    padding-top: 65px;
}

.product-items,
.product-items2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.box-product-item {
    width: 360px;
    height: 580;
}

img.picproduct {
    width: 360px;
    height: 420;
}

.box-product {}

h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


    color: #222222;
}

h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */


    color: #FBFBFB;
}

h3 {
    margin-top: 25px;
    margin-bottom: 13px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
}


p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

h1.fetured {
    text-align: center;
}



p.text-product-item {
    text-align: center;
}

p.price {
    margin-top: 18px;
    color: #F16D7F;
}

.box-product {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}

.btn-next {
    display: flex;
    justify-content: center;
}

.product-next-btn {
    width: 215px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 95px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F26376;
    cursor: pointer;
    color: #F26376;
    background-color: #ffffff;
    border: 1px solid #F26376;


}

.product-next-btn:hover {
    color: #ffffff;
    border: 1px solid #F26376;
    background-color: #F26376;
    box-shadow: 2px 2px 20px #AFE9FF;
}

button.product-next-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.prefooter {
    display: flex;
    justify-content: space-around;
    background: #222224;
}

.actions {
    margin-top: 105px;
    margin-bottom: 105px;
    text-align: center;
    width: 360px;
    height: 135px;
}

.picarticle-footer {
    margin-bottom: 28px;
    width: 45px;
    height: 32px;
}

p.article-prefooter {
    margin-top: 16px;
    margin-bottom: 105px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.footer-form {
    background-image: url('/img/form-footer.jpg');
    height: 450px;
}

.copyright {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    background: #222224;
}

p.text-copiriht {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;
}