$colorframe1: #F16D7F;
$colorframe2: #F26376;
$colorframe3: #222224;
$colorframe4: #222222;
$widwContBar1: 1600px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-baner {
    width: 100%;
    display: flex;
    margin: auto;
}

.footer {
    width: $widwContBar1;
    margin: auto;
}

.container {
    max-width: 1140px;
    margin: auto;

}

.headers {
    position: relative;
    height: 100px;
}

.content-product {
    position: relative;
    margin-top: -120px;
}

.boxWidw {
    background-color: #F1E4E6;
    width: 100%;
    height: 764px;
}

.boxWidw-product {
    background-color: #F7F7F7;
    width: 100%;
    height: 774px;
}

nav {
    background: $colorframe4;
}

.menu {
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.left-menu {

    width: 120px;
    height: 35px;
    display: flex;
    justify-content: space-around;

}

.logo {
    margin-top: 15px;
    width: 35px;
    height: 30px;
}

.nav-menu {
    margin-top: 18px;
    margin-bottom: 12px;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.picmenu {
    width: 30px;
    height: 70%;
}

.banner {
    width: 50%;
    height: 100%;
}

.banner-pic {
    background-image: url(./img/fashin.png);
    background-size: auto;
    background-repeat: no-repeat;
}

.banner-block {
    display: flex;
    background-color: #F1E4E6;
    max-width: $widwContBar1;
    height: 764px;
}

.banner-block-product {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    max-width: $widwContBar1;
    height: 764px;
}

.slider {
    display: flex;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    height: 47px;
    width: 47px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background: rgba(42, 42, 42, 0.15);
}

.slider:hover .fa-solid {
    color: $colorframe1;
}


.fa-solid {
    margin-left: auto;
    margin-right: auto;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: $colorframe4;
}

.fashion {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 58px;

    color: $colorframe4;
}

.banner-text {
    display: flex;
    margin-top: 20%;
    height: 200px;
}

.line-banner {
    margin-left: 120px;
    margin-top: 5px;
    height: 100px;
    width: 10px;
    left: 54%;
    right: 45.25%;
    top: 9.53%;
    bottom: 88.06%;
    background: $colorframe1;
}

.banner-article {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article-banner {
    margin-left: 10px;
}

.fashionred {
    color: $colorframe1;
}

content {
    display: block;
    padding-top: 65px;
}

.product-items,
.product-items2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.box-product-item {
    display: flex;
    position: relative;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    width: 360px;
}

.box-product-item:hover .add-box {
    display: flex;
}

.box-product-link:hover,
.picproduct {
    filter: brightness(80%);
}

img.picproduct {
    width: 360px;
    height: 420;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


    color: $colorframe4;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */


    color: #FBFBFB;
}

h3 {
    margin-top: 25px;
    margin-bottom: 13px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}


p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

h1.fetured {
    text-align: center;
}

.article-singl3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorframe1;
}

.hr-singl1 {
    background: $colorframe1;
    margin: auto;
    width: 64px;
    height: 3px;
}

.article-singl2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 50px;
    color: #4D4D4D;
}

.articlesing {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 555px;
    text-align: center;
    color: #5E5E5E;
    margin-left: auto;
    margin-right: auto;
}

.price-singl {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    margin-bottom: 65px;
    color: #EF5B70;
}

.hr-singl2 {
    border: 1px solid #EAEAEA;
    margin: auto;
    width: 642px;
    height: 1px;
}


.box-details-singl {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

.box_det_sing {
    display: flex;
    justify-content: space-around;
    width: 375px;
}

.details {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #6F6E6E;
}

p.text-product-item {
    text-align: center;
}

p.price {
    margin-top: 18px;
    color: $colorframe1;
}

.box-product {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-product-link {
    display: block;
    text-decoration: none;
}

.add {
    display: flex;

    align-items: center;
    text-decoration: none;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    pointer-events: all;
}

.add:hover {
    box-shadow: 0px 0px 10px 0px #F1E4E6;
}

.add-desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 10px;
}

.add-box {
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 188px;
    pointer-events: none;
}


.add-pic {
    width: 25px;
}

.btn-next {
    display: flex;
    justify-content: center;
}

.product-next-btn {
    width: 215px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 95px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: $colorframe2;
    cursor: pointer;
    color: $colorframe2;
    background-color: #ffffff;
    border: 1px solid $colorframe2;


}

.product-next-btn:hover {
    color: #ffffff;
    border: 1px solid $colorframe2;
    background-color: $colorframe2;
    box-shadow: 2px 2px 20px #AFE9FF;
}

button.product-next-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.prefooter {
    display: flex;
    justify-content: space-around;
    background: $colorframe3;
}

.actions {
    margin-top: 105px;
    margin-bottom: 105px;
    text-align: center;
    width: 360px;
    height: 135px;
}

.picarticle-footer {
    margin-bottom: 28px;
    width: 45px;
    height: 32px;
}

p.article-prefooter {
    margin-top: 16px;
    margin-bottom: 105px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.article-singl-product {
    background-color: #ffff;
    border: 1px solid #EAEAEA;
    text-align: center;
    width: 1140px;
    height: 600px;

}

.footer-form {
    display: flex;
    justify-content: space-around;


}

.reviews-form-article {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 105px;
    width: 360px;
    height: 225px;
}

.article-reviews {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: $colorframe3;
}

.copyright {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    background: $colorframe3;
}

p.text-copiriht {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;
}

.footer-forma {
    padding: 0;
    margin-top: 105px;
    text-align: center;
}

.preFooter-article {
    background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url('/img/form-footer.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: $colorframe3;
}

.promotion {
    margin-top: 5px;
}

.form-mail-group {
    display: flex;
}

.btn-form-footer {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $colorframe2;
    border: 1px solid $colorframe2;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: background-color .15s ease-in-out;
}

.btn-form-footer:hover {
    background-color: #ffffff;
    color: $colorframe2;
}

.form-mail-group .text-field-input {
    width: 355px;
    height: 50px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: relative;
    z-index: 1;
}

.text-field-input {
    padding-left: 22px;
    outline: 0 !important;
    border: 1px solid #b9b8b8;
    background: #E1E1E1;
}

.footer {
    background-color: $colorframe3;
    width: 100%;
}

.form-mail-group .btn-form-footer {
    position: relative;
}

.socil {
    display: flex;
    text-align: center;
}

.social-link {
    margin: 1px;
    padding-top: 8px;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
}

.social-link:hover {
    background-color: $colorframe2;
}

.social-link:hover .picsocial-footer {
    color: #f1f1f1;
}

.menubtn {
    background-color: $colorframe3;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
}

.menudown {
    position: relative;
    display: inline-block;

}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
}

.menudown:hover .menu-content {
    display: block;
}

.menu-cont {
    margin-left: 34px;
    margin-right: 143px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu_product {
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorframe1;
}

.menu_link {
    margin-left: 54.5px;
    margin-right: 98px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.preFooter-article {
    width: 100%;
    background-color: #ffffff;
}

.picsocial-footer {
    color: $colorframe3;
}

.sids-cont {
    display: flex;
    justify-content: space-around;
    background-color: #F1E4E6;
}

.h2sids {
    color: $colorframe1;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.link-sides {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 210px;

}

.link-sid {
    text-decoration: none;
}

.link-sids {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.link-sids:hover {
    color: $colorframe1;
    font-weight: bolder;
}